* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background-color: blanchedalmond;
    /* text-shadow: 2px 2px rgb(8, 5, 5); */
}


.head1 {
    display: flex;
    justify-content: center;
    color: rgb(14, 58, 97);
}

.head2 {
    display: flex;
    justify-content: center;
    color: rgb(14, 58, 97);
}

.media_container {
    height: 300px;
    width: 300px;
    background-color: aquamarine;
}

@media screen and (max-width:400px) and (min-width:200px) {
    .media_container {

        background-color: rgb(191, 52, 52);
    }

}

.ani {
    height: 100px;
    width: 100px;
    background-color: burlywood;
    /* transform: rotate(-120deg); */
    /* transform: scale(.3); this is for increse the size */
    /* transform: rotateX(130deg); */
    /* transform: skew(55deg); */
    /* transform: scaleX(); */
    /* transform: skewY(); */
    transition: cubic-bezier(0.075, 3, 0.565, 1);
    transition: ease-in-out 2s;
}

.media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.media_container h3 {
    background-color: antiquewhite;

}

.ani:hover {
    width: 300px;
    height: 300px;
    background-color: rgb(34, 104, 94);
}

.box {
    display: flex;
    justify-content: center;
}

/* transition */
.trans {
    display: flex;
    justify-content: center;
}

.box1 {
    height: 100px;
    width: 100px;
    background-color: coral;
    margin: 20px;
    transition: ease-in-out 2s;
}

.box2 {
    height: 100px;
    width: 100px;
    background-color: rgb(14, 234, 172);
    margin: 20px;
    transition: ease-in-out 2s;
}

.box3 {
    height: 100px;
    width: 100px;
    margin: 20px;
    background-color: rgb(102, 79, 230);
    transition: ease-in-out 2s;
}

.box1:hover {
    transform: scale(3)rotate(120deg);
    background-color: rgb(68, 10, 228);
    /* transform: rotate(120deg); */
    border-radius: 100%;
}

.box2:hover {
    transform: scale(3)rotate(120deg);;
    background-color: rgb(202, 16, 28);
    /* transform: rotate(120deg); */
    border-radius: 100%;
}

.box3:hover {
    transform: scale(3)rotate(120deg) ;
    border-radius: 100%;
    background-color: rgb(220, 242, 21);
    /* transform: rotate(120deg); */
     
}

