/* .lg {
    size: 1px;
    width: 150;
    height: 50;
} */

* {
    margin: 0px;
    padding: 0px;
}

.container {
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/8f12b4f0-a894-4d5b-9c36-5ba391c63fbe/44355e66-dbf8-4dd8-ba6b-8e9e32ec6abd/IN-en-20230320-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    height: 100vh;
    width: 100vw;

}

.sub_cont {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
}

.image{
    width: 54%;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.head{
 display: inline-block;
height: 20%;
display: flex;
}
.btn {
    padding: 30px;
    width: 80%;
    text-align: right;
}

.btn button{
    background: red;
    padding: 8px 14px;
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 12px;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 80%;
}
h1{
    
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
#p1{
  font-size: 28px;
  margin: 13px;
  font-weight: 400;
  text-align: center;
    color: white;
}
#p2{
    font-size: 23px;
    margin: 13px;
    font-weight: 400;
    text-align: center;
      color: white;
  }
