* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --black_clr: black;
    --red-cle: #ff4a32;
    --font_family: 'Roboto', 'sans-serif';
}

body {
    width: 100vw;
    height: 100vh;
    font-family: var(--font_family);
}

.nav {
    height: 14px;
    position: relative;
    background-color: var(--black_clr);
    position: relative;

}

.bottom_height {
    height: 5px;
    background-color: rgb(229, 226, 226);
}

/* header */
header {
    position: sticky;
}

.container {
    width: 100%;
    height: 76%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo_img>img {
    height: 45px;
    width: 200px;
}

.navigations {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navs_size {
    padding: 14px 12px;
}

.cart {
    display: flex;
    justify-content: space-between;
}

.nav_icon {
    padding: 15px 5px;
}

.navs_size {
    text-transform: uppercase;
    fill: var(--black_clr);
    font-family: var(--font_family);
    font-weight: 500;
    font-size: 15px;
}

.more {
    display: flex;
}



/* Hero tag */
.hero_container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    /* position: relative; */
    background-color: rgba(255, 255, 255, 0.1);
}

.sub_hero1 {
    width: 50%;
    height: 100%;
    /* background-image: url(./asset/bg1.jpg); */
    background-repeat: no-repeat;
    object-fit: cover;
    object-fit: contain;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.sub_hero2 {
    width: 50%;
    height: 100%;
    /* background-image: url(./asset/bg2.jpg); */
    background-repeat: no-repeat;
    object-fit: contain;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.sub_hero2>img {
    height: 100%;
    width: 100%;
    filter: blur(2px);
    position: absolute;
    transition: all .3s ease-in-out;
}

.sub_hero1>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: blur(2px);
    position: absolute;
    transition: all .3s ease-in-out;


}

.contents {
    position: absolute;
    /* margin: 0; */
    height: 20%;
    width: 80%;
}

.contents>img {
    height: 100px;
    width: 90%;
    ;

}

.s1_para {
    position: relative;
    left: 100px;

}

.sub_hero1>img:hover {
    transform: scale(1.1);
}

.sub_hero2>img:hover {
    transform: scale(1.1);
}

/* Seection 2 */

.logos {
    padding-top: 18px;
    padding-bottom: 17px;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
    align-items: center;
    justify-content: space-around;
}

.logos>.logo {
    height: 30px
}

/* section 3 */
.sec_3 {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
}

.sec3_contents {

    width: 40%;
    height: 300px;
    text-align: center;
    /* border:2px solid red; */
}

.content>h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.125;
}

/* section 4 */
.sec_4{
    margin-top: 100px;
}
.sec4_container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
     padding: 40px;
}

.sec4_container>.img{
    height: 290px;
    width: 50vw;
    overflow: hidden;

}

.sec4_container>.img>img{
    object-fit: contain;
    height: 290px;
    width: 290px;
}
.sec4_container>.sec4_details{
       height: 60vh;
       width: 40vw;
       /* margin-left: 700px; */
       /* border: 2px solid red; */
}
.sec4_details>h3, button, p{
    margin-bottom: 20px;
}
.sec4_details>button{
    border-radius: 20px;
    padding: 8px 10px ;
    background-color: #ff4a32;
    border: none;
    color:white;
}

/* secction 5 */
.sec_5{
    margin-top: 100px;
}
.sec5_container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;

}
/* sec 6 */
.sec_6{
    margin-top: 100px;
}
.sec6_container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    
}
.sec6_container>.img{
    height: 400px;
    width: 70vw;
    overflow: hidden;

}

.sec6_container>.img>img{
    object-fit: contain;
    height: 400px;
    width: 290px;
}
.sec6_container>.sec4_details{
       height: 60vh;
       width: 40vw;
       /* margin-left: 700px; */
       /* border: 2px solid red; */
}
.sec6_details>h3, button, p{
    margin-bottom: 20px;
}
.sec6_details>button{
    border-radius: 20px;
    padding: 8px 10px ;
    background-color: #ff4a32;
    border: none;
    color:white;
}
/* Partition */
.partition{
    position: relative;
    width: 200vh;
    height: 100vh;
    overflow: hidden;
    margin-top: 0px;

}
.partition>img{
    height: 80%;
    width: 100%;
    object-fit: cover;
}
.partition>.content{
    position: relative;
    margin-top: -500px;
    margin-left: 450px;
}
.partition>.content>.parent{
    top: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    height: auto;
    position: absolute;
    text-align: center;

}
.partition>.content>.parent>button{
    width: 100px;
    padding: 10px 15px;
    margin-left: 110px;
    border-radius: 10px;
    border:none;
    background-color: #ff4a32;
    color: white;
}